# Supabase
# Example: https://xyz.supabase.co (including https://)
VITE_SUPABASE_URL=https://qplccigdbgyfqzftuuqs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFwbGNjaWdkYmd5ZnF6ZnR1dXFzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2ODA0NzcsImV4cCI6MjA5NDI1NjQ3N30.z0cwHF4DOUQYITuEqR6I6687FUdCRPGngv2NIdYBeDY

# Cloudinary
# Find Cloud Name on your Dashboard: https://cloudinary.com/console
VITE_CLOUDINARY_CLOUD_NAME=dtqpop5di
# Ensure this is "Unsigned": Settings -> Upload -> Upload presets
VITE_CLOUDINARY_UPLOAD_PRESET=my_preset
